{% extends 'base.html' %} {% block body %}

<section>
  <h1>Public Tasks</h1>
  <ul>
    {% for task in public_task_list %}

    <li>
      <a href="{% url 'task:detail_task' task.id %}">id: {{ task.id }} -- {{ task.title }} -- {{task.status}} </a>
    </li>

    {% empty %}
    <p>There are no tasks avaible.</p>
    {% endfor %}
  </ul>
</section>

<section>
  <h1>{{ current_user.username }}'s Tasks :</h1>
  <ul>
    {% for task in users_task_list %}

    <li>
      <a href="{% url 'task:detail_task' task.id %}">id: {{ task.id }} -- {{ task.title }} -- {{task.status}}</a>
    </li>

    {% empty %}
    <p>You {{ current_user.username }} have no tasks</p>
    {% endfor %}
  </ul>
</section>

<section>
  <h1>{{ current_user.username }}'s Teams :</h1>
  <ul>
    {% for team in users_team %}

    <li>
      <a href="{% url 'task:detail_team' team.id %}">id: {{ team.id }} -- {{ team.name }}</a>
    </li>

    {% empty %}
    <p>You {{ current_user.username }} are not part of any teams</p>
    {% endfor %}
  </ul>
</section>

{% endblock %}
